{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "printWidth": 90000,
  "tabWidth": 2,
  "bracketSameLine": true,
  "cssEnable": ["css"],
  "proseWrap": "never"
}
